@import "../../../styles/abstracts/extends";
@import "../../../styles/base/variables";

.admin-nav {
    height: calc(100vh - 20px);
    .profile {
        text-align: center;
        margin-top: 20px;
        border-bottom: 1px solid #f3d6dd;
        img{
            border-radius: 50px;
            margin-bottom: 6px;
        }
    }
    .sidebarMenu {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        &__list {
            list-style: none;
            padding: 0 !important;
            &__item {
                &__link {
                    @extend %sidenav-btn-link;
                    &:hover {
                        text-decoration: none;
                        // background-color: #FA4A6F ;
                        // background-color: #f3d6dd;
                        // background: linear-gradient(90deg, #fa4a6f 36%, #dd8c9f 100%);
                        cursor: pointer;
                        border-right: 4px solid #fa4a6f;
                        background: linear-gradient(90deg, #fa4a6f 36%, #dd8c9f 100%);
                        p , i{
                            color: #fff;
                        }
                    }
                    i {
                        font-size: 16px;
                        font-weight: 500;
                        float: left;
                        margin-right: 15px;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                        color: #3c4858;
                    }
                    p {
                        margin: 0;
                        line-height: 30px;
                        font-size: 18px;
                        font-weight: 500;
                        position: relative;
                        display: inline-block;
                        height: auto;
                        white-space: nowrap;
                        color: #3c4858;
                    }
                }
            }

            // active route
            .active > a {
                // background-color: #f3d6dd;
                background: linear-gradient(90deg, #fa4a6f 36%, #dd8c9f 100%);
                cursor: pointer;
                border-right: 4px solid #fa4a6f;
                p , i{
                    color: #fff;
                }
            }
        }

    }
}
