<nav class="admin-nav">
    <div class="logo" routerLink="/">
        <h3>Task Manager</h3>
    </div>
    <div class="sidebarMenu">
        <ul class="sidebarMenu__list">
            <li
                class="sidebarMenu__list__item"
                routerLink="/dashboard/admin/home"
                routerLinkActive="active"
            >
                <a class="sidebarMenu__list__item__link">
                    <p>Dashbord</p>
                </a>
            </li>



            <li class="sidebarMenu__list__item">
              
                <a class="sidebarMenu__list__item__link">
                    
                    <p>Students</p>
                </a>
            </li>
            <li class="sidebarMenu__list__item">
              
                <a class="sidebarMenu__list__item__link">
                  
                    <p>Staff</p>
                </a>
            </li>
           
        </ul>
    </div>
</nav>