<div class="new">
    <div class="container">
       <div class="col-md-6">
         <form action="" class="new--form">
            <div class="mb-3">
              <label for="" class="form-label">Task Title</label>
              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">
                Task Description
              </label>
              <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
        </form>
       </div>
    </div>
</div>
